/* hide default UI - only shown if optional UI css files are loaded. */
media-play-button > shadow-root,
media-mute-button > shadow-root,
media-fullscreen-button > shadow-root,
media-slider > shadow-root,
media-time-slider > shadow-root,
media-volume-slider > shadow-root {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * MEDIA
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-player {
  width: 100%;
  display: inline-block;
  position: relative;
  contain: layout;
}

media-outlet {
  display: block;
}

media-outlet audio {
  width: 100%;
}

media-outlet video {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: black;
}

media-player[aspect-ratio] media-outlet {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: min(
    max(var(--media-min-height, 150px), calc(100% / var(--media-aspect-ratio))),
    var(--media-max-height, 100vh)
  );
}

media-player[aspect-ratio] media-outlet > shadow-root > * {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * DISPLAY
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-icon {
  width: 32px;
  height: 32px;
}

media-icon svg {
  width: 100%;
  height: 100%;
}

media-time {
  display: inline-block;
  contain: content;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * BUTTONS
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-toggle-button,
media-play-button,
media-mute-button,
media-fullscreen-button {
  display: inline-block;
  position: relative;
  contain: content;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

media-toggle-button:focus,
media-play-button:focus,
media-mute-button:focus,
media-fullscreen-button:focus {
  outline: none;
}

media-toggle-button:focus-visible,
media-play-button:focus-visible,
media-mute-button:focus-visible,
media-fullscreen-button:focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

media-toggle-button.focus-visible,
media-play-button.focus-visible,
media-mute-button.focus-visible,
media-fullscreen-button.focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

media-fullscreen-button[hidden] {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * SLIDERS
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-slider,
media-time-slider,
media-volume-slider {
  display: inline-block;
  position: relative;
  contain: layout;
  width: 100%;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

media-slider:focus,
media-time-slider:focus,
media-volume-slider:focus {
  outline: none;
}

media-slider:focus-visible,
media-time-slider:focus-visible,
media-volume-slider:focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

media-slider.focus-visible,
media-time-slider.focus-visible,
media-volume-slider.focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Slider Value Text
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-slider-value-text {
  display: inline-block;
  contain: content;
  font-size: 14px;
  font-family: sans-serif;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Slider Video
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-slider-video {
  display: inline-block;
  contain: content;
  background-color: black;
}

media-slider-video video {
  display: block;
  height: auto;
  width: 156px;
  max-width: unset;
}

/* Temporarily hide video while loading. */
media-slider-video:not([can-play]) {
  opacity: 0;
}

/* Hide video if it fails to load. */
media-slider-video[error],
media-slider-video[error] video {
  display: none;
  width: 0px;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * POSTER
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-poster {
  display: block;
  contain: content;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  box-sizing: border-box;
  transition: opacity 0.2s ease-out;
}

media-poster img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

media-poster[img-error] {
  display: none;
}

media-player:not([started]) media-poster {
  opacity: 1;
  pointer-events: auto;
}
media-toggle-button,
media-play-button,
media-mute-button,
media-fullscreen-button {
  border-radius: 2px;
  color: white;
  min-width: 48px;
  min-height: 48px;
}

media-play-button > shadow-root svg,
media-mute-button > shadow-root svg,
media-fullscreen-button > shadow-root svg {
  width: 66.666%;
  height: 66.666%;
}

media-play-button > shadow-root,
media-mute-button > shadow-root,
media-fullscreen-button > shadow-root {
  display: unset;
}

media-toggle-button *[slot],
media-play-button *[slot],
media-mute-button *[slot],
media-fullscreen-button *[slot] {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

media-toggle-button[pressed] [slot='on'],
media-toggle-button:not([pressed]) [slot='off'],
media-play-button[paused] [slot='play'],
media-play-button:not([paused]) [slot='pause'],
media-mute-button[volume-high] [slot='volume-high'],
media-mute-button[volume-low] [slot='volume-low'],
media-mute-button[muted] [slot='volume-muted'],
media-fullscreen-button:not([fullscreen]) [slot='enter'],
media-fullscreen-button[fullscreen] [slot='exit'] {
  opacity: 1;
}

media-fullscreen-button[hidden] {
  display: none;
}

media-play-button > shadow-root:not(:only-child),
media-mute-button > shadow-root:not(:only-child),
media-fullscreen-button > shadow-root:not(:only-child) {
  display: none;
}

media-toggle-button:hover,
media-play-button:hover,
media-mute-button:hover,
media-fullscreen-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
}
media-slider,
media-time-slider,
media-volume-slider {
  --height: var(--media-slider-height, 48px);
  --thumb-size: var(--media-slider-thumb-size, 14px);
  --thumb-focus-size: var(--media-slider-focused-thumb-size, calc(var(--thumb-size) * 1.1));
  --track-height: var(--media-slider-track-height, 4px);
  --track-focus-height: var(--media-slider-focused-track-height, calc(var(--track-height) * 1.25));
  display: flex;
  align-items: center;
  height: var(--height);
  /** Prevent thumb flowing out of slider. */
  margin: 0 calc(var(--thumb-size) / 2);
}

media-slider > shadow-root,
media-time-slider > shadow-root,
media-volume-slider > shadow-root {
  display: unset;
}

media-slider [part*='track'],
media-time-slider [part*='track'],
media-volume-slider [part*='track'] {
  z-index: 0;
  position: absolute;
  height: var(--track-height);
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #5a595a;
}

media-slider[interactive] [part*='track'],
media-time-slider[interactive] [part*='track'],
media-volume-slider[interactive] [part*='track'] {
  height: var(--track-focus-height);
}

media-slider [part~='track-fill'],
media-time-slider [part~='track-fill'],
media-volume-slider [part~='track-fill'] {
  z-index: 2; /** above track and track progress. */
  background-color: #fafafa;
  transform-origin: left center;
  will-change: transform;
  transform: translateY(-50%) scaleX(var(--slider-fill-rate));
}

media-time-slider [part~='track-progress'] {
  z-index: 1; /** above track. */
  background-color: #878787;
  transform-origin: left center;
  will-change: transform;
  transform: translateY(-50%) scaleX(calc(var(--media-buffered-amount) / var(--media-duration)));
}

media-slider [part='thumb-container'],
media-time-slider [part='thumb-container'],
media-volume-slider [part='thumb-container'] {
  z-index: 2; /** above track fill. */
  position: absolute;
  top: 0;
  left: var(--slider-fill-percent);
  width: var(--thumb-size);
  height: 100%;
  transform: translateX(-50%); /** re-center along x-axis. */
  will-change: left;
}

media-slider[dragging] [part='thumb-container'],
media-time-slider[dragging] [part='thumb-container'],
media-volume-slider[dragging] [part='thumb-container'] {
  left: var(--slider-pointer-percent);
}

media-slider [part='thumb'],
media-time-slider [part='thumb'],
media-volume-slider [part='thumb'] {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 9999px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: opacity 0.15s ease-in;
}

media-slider[interactive] [part='thumb'],
media-time-slider[interactive] [part='thumb'],
media-volume-slider[interactive] [part='thumb'] {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  width: var(--thumb-focus-size);
  height: var(--thumb-focus-size);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Preview
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-slider [slot='preview'],
media-time-slider [slot='preview'],
media-volume-slider [slot='preview'] {
  display: flex;
  position: absolute;
  top: var(--preview-top);
  left: var(--preview-left);
  flex-direction: column;
  align-items: center;
  opacity: 0;
  border-radius: 2px;
  pointer-events: none;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-out;
  will-change: left;
}

media-slider[interactive] [slot='preview'],
media-time-slider[interactive] [slot='preview'],
media-volume-slider[interactive] [slot='preview'] {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

media-slider media-slider-value-text,
media-time-slider media-slider-value-text,
media-volume-slider media-slider-value-text {
  padding: 1px 10px;
  color: hsl(0, 0%, 70%);
  background-color: black;
}

media-slider-video + media-slider-value-text {
  margin-top: 8px;
}
#brand.svelte-hzlwnj{margin:4px
	}#app.svelte-hzlwnj{border:2px solid black}h1.svelte-hzlwnj{margin:0px}h4.svelte-hzlwnj{margin-top:0px}button.svelte-hzlwnj{margin-left:6px;margin-bottom:6px;height:30px;width:30px}input.svelte-hzlwnj{margin:6px;margin-left:0px;height:30px ;width:200px }p.header.svelte-hzlwnj{font-size:24px ;margin:6px;margin-right:0px }span.header.svelte-hzlwnj{height:26px;margin-bottom:6px;margin-right:6px;float:right;font-size:18px;vertical-align:bottom}#query-section.svelte-hzlwnj{margin-top:0px}#missing.svelte-hzlwnj{margin-top:20px}p.svelte-hzlwnj{margin:8px }ul.svelte-hzlwnj{list-style-type:none;padding:0px;margin:0px}li.svelte-hzlwnj{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}media-play-button.svelte-hzlwnj{left:0;position:absolute;top:0}